Repository IQSS/dataverse, pull requests merged in 2023-03, with the labels that each got.

#9417 9414 - Add containerized Dataverse service dependencies for development
  .env
  .gitignore
  doc/release-notes/9414-containerized_dev_dependencies.md
  doc/sphinx-guides/source/developers/dev-environment.rst
  doc/sphinx-guides/source/developers/documentation.rst
  docker-compose-dev.yml
Labels: Feature: Code Infrastructure, Feature: Developer Guide, Containers & Cloud, NIH OTA: 1.7.1 (reArchitecture)

#9299 9297 feature flags
  doc/sphinx-guides/source/developers/configuration.rst
  doc/sphinx-guides/source/installation/config.rst
  doc/sphinx-guides/source/installation/oidc.rst
  src/main/java/edu/harvard/iq/dataverse/settings/FeatureFlags.java
  src/main/java/edu/harvard/iq/dataverse/settings/JvmSettings.java
  src/test/java/edu/harvard/iq/dataverse/settings/FeatureFlagsTest.java
Labels: Feature: Code Infrastructure, Feature: Developer Guide, Feature: Installation Guide, User Role: Sysadmin, Testing: API, Size: 3

#8981 Gdcc/Signposting
  doc/release-notes/8424-signposting.md
  doc/sphinx-guides/source/admin/discoverability.rst
  doc/sphinx-guides/source/admin/index.rst
  doc/sphinx-guides/source/admin/integrations.rst
  doc/sphinx-guides/source/api/native-api.rst
  doc/sphinx-guides/source/developers/configuration.rst
  doc/sphinx-guides/source/installation/config.rst
  src/main/java/edu/harvard/iq/dataverse/DatasetPage.java
  src/main/java/edu/harvard/iq/dataverse/api/Datasets.java
  src/main/java/edu/harvard/iq/dataverse/settings/JvmSettings.java
  src/main/java/edu/harvard/iq/dataverse/util/SignpostingResources.java
  src/main/java/edu/harvard/iq/dataverse/util/json/JsonPrinter.java
  src/main/webapp/dataset.xhtml
  src/test/java/edu/harvard/iq/dataverse/api/SignpostingIT.java
  tests/integration-tests.txt
Labels: Size: 10

#9474 use nonstopmode to build guides PDF, link to preview #9277
  doc/release-notes/9277-nonstopmode-pdf-guides.md
  doc/sphinx-guides/source/developers/documentation.rst
  doc/sphinx-guides/source/versions.rst
Labels: Feature: User Guide

#9472 IQSS/9471- support delayed setting of :DoiProvider
  src/main/java/edu/harvard/iq/dataverse/AbstractGlobalIdServiceBean.java
  src/main/java/edu/harvard/iq/dataverse/DOIDataCiteServiceBean.java
  src/main/java/edu/harvard/iq/dataverse/DOIEZIdServiceBean.java
  src/main/java/edu/harvard/iq/dataverse/DOIServiceBean.java
  src/main/java/edu/harvard/iq/dataverse/pidproviders/FakePidProviderServiceBean.java
  src/main/java/edu/harvard/iq/dataverse/pidproviders/UnmanagedDOIServiceBean.java
  src/test/java/edu/harvard/iq/dataverse/PersistentIdentifierServiceBeanTest.java
Labels: Size: 3

#9383 Support for deleting files using native API
  doc/release-notes/3913-delete-file-endpoint
  doc/sphinx-guides/source/api/native-api.rst
  src/main/java/edu/harvard/iq/dataverse/api/Files.java
  src/test/java/edu/harvard/iq/dataverse/api/FilesIT.java
  src/test/java/edu/harvard/iq/dataverse/api/UtilIT.java
Labels: Feature: API, Feature: File Upload & Handling, Size: 3

#9290 9063 - add session API auth mechanism with feature flag
  doc/release-notes/9063-session-api-auth.md
  doc/sphinx-guides/source/installation/config.rst
  src/main/java/edu/harvard/iq/dataverse/api/auth/CompoundAuthMechanism.java
  src/main/java/edu/harvard/iq/dataverse/api/auth/SessionCookieAuthMechanism.java
  src/main/java/edu/harvard/iq/dataverse/settings/FeatureFlags.java
  src/main/java/edu/harvard/iq/dataverse/settings/JvmSettings.java
  src/test/java/edu/harvard/iq/dataverse/api/auth/SessionCookieAuthMechanismTest.java
  src/test/java/edu/harvard/iq/dataverse/settings/FeatureFlagsTest.java
Labels: Feature: API, User Role: API User, NIH OTA: 1.7.1 (reArchitecture), Size: 10, pm.GREI-d-1.7.1

#9487 IQSS/9486- fix EZID NPE when doi.baseurlstring is not defined
  src/main/java/edu/harvard/iq/dataverse/DOIEZIdServiceBean.java
Labels: Size: 3
